.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9%;
  padding: 1%;
  width: 98%;
}

.title {
  text-align: center;
  width: 95%;
  font-size: 2vh;
}
