.graphs {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  width: 55vw;
  margin: 0 .6vw 2.3vh;

  @media (max-width: 2000px) {
    height: 31.1%;
  }
  @media (min-width: 2000px) {
    height: 30.4%;
    margin: 0 .6vw 3vh;
  }
  @media (max-width: 1500px) {
    width: 54.7vw;
  }

  font-size: var(--main-font-size);
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.propertiesGroup {
  margin: .5rem;
}

.iconCheckBox {
  vertical-align: middle;
}

.headGraph {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  height: 10%;
}

.colorVal {
  color: #2D6AA3;
}

.colorVal2 {
  color: #E27F49;
}

.colorVal3 {
  color: #B1B47D;
}

.colorProc {
  color: #8CC06D;
}

.colorTar {
  color: #e21a1a;
}
