.graphs {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  width: 55vw;
  @media (max-width: 2000px) { height: 31.3% }
  @media (min-width: 2000px) { height: 30.4% }
  background: #FFFFFF;
  margin: 0 .6vw 2%;
  font-size: 1.7vh;
  overflow: hidden;
}
.clickable {
  cursor: pointer;
}
.checkBoxGroup {
  margin: .5rem;
  font-weight: normal;
}
.iconCheckBox {
  vertical-align: middle;
}
.headGraph {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  height: 10%;
}
.title {
  position: absolute;
  margin-left: 26%;
  transform: translate(-50%,0);
}
.menu {
  margin: 1.5rem;
}
.colorVal {
  color: #8884d8;
}
.colorProc{
   color: #82ca9d;
 }
.colorTar {
  color: #FF0000;
}
