.graphs {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  width: 40vw;
  height: 20vh;
  background: #FFFFFF;
  margin: 1rem .5rem;
  font-size: 1.7vh;
}

.title {
  font-size: 3vh;
  padding-top: .5vh;
  text-align: center;
}
