.widgets {
  width: 30rem;
  height: 10rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 5px;
  margin: 1rem;
}

.widget_graph {
  width: 35vw;
  height: 20.7vh;
}
