.graphs {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  width: 55vw;
  height: 31.3%;
  background: #FFFFFF;
  margin: 0 .6vw 2%;
  font-size: 1.7vh;
  overflow: auto;
  overflow-y: hidden;
}

.titleName {
  color: black;
}

.hiddenTitleName {
  display: none;
}

.checkBoxGroup {
  cursor: pointer;
  font-weight: normal;
}

.iconCheckBox {
  vertical-align: middle;
}

.headGraph {
  display: flex;
  margin-bottom: 2%;
}

.hiddenIDontNowHowDoItElse {
  font-size: 6px;
}
