main {
  display: flex;
  justify-content: center;
  margin: 4vh 1vw;

  height: 70vh;
}

.graphs {
  display: inline;
  justify-content: space-between;
}

.secondMain {
  display: flex;
  justify-content: center;
  height: 21.9vh;
  @media (max-width: 2000px) { margin: 4vh 1vw }
  @media (min-width: 2000px) { margin: 6vh 2.3vw }
}

.headCircularBar {
  margin-top: -9%;
  text-align: center;
}
