:root {
  --main-border: solid 1px #2D6AA3;
  --main-border-radius: 6px;
  --main-font-size: 1.7vh;
}

main {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
  height: 65vh;
}

.graphs {
  display: inline;
  justify-content: space-between;
}

.secondMain {
  display: flex;
  justify-content: center;
  height: 210px;
  margin: 25px 10px;

  @media (max-width: 1500px) {
    height: 150px;
    margin: 15px 10px;
  }
  @media (min-width: 2000px) {
    margin: 30px 55px;
  }
}

.headCircularBar {
  display: flex;
  justify-content: center;
  margin-top: -9%;
}
