img {
  max-width: 8rem;
  margin-right: 5%;
}

.navbar {
  justify-content: space-between;

  * { align-items: center }
}

.logo {
  max-width: 71px;
  max-height: 56px;
}

.leftNav {
  width: 35%;

  @media (min-width: 1200px) { width: 25% }
}

.filterIcon {
  cursor: pointer;
}

.aboutFilters {
  font-size: .7vw;
  display: block;
}

.generalTitle {
  @media (min-width: 1200px) { margin-left: -12vw }
}
