img {
  max-width: 8rem;
  margin-right: 5%;
}

.navbar {
  justify-content: space-between;

  * {
    align-items: center;
  }
}

.leftNav {
  width: 25%;
}

.filterIcon {
  font-size: 40px;
  cursor: pointer;
}

.aboutFilters {
  font-size: .8vw;
  display: block;
  overflow: auto;
}

.generalTitle {
  margin-left: -12vw;
}
