.kpkTable {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  max-width: 30%;
  min-width: 30%;
  max-height: 100%;
  margin: 0 .6vw;
  overflow: hidden;

  .cell {
    padding: 7px;
    @media (max-width: 1500px) {
      padding: 2px;
    }
    line-height: 17px;
    font-size: var(--main-font-size);
    border-bottom: none;
    background-color: #FFFFFF;
  }

  .rightColumn {
    text-align: right;
  }

  .tableContainer {
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.clickable {
  cursor: pointer;
}

.iconCheckBox {
  vertical-align: middle;
}

.tableHead {
  display: flex;
  align-items: center;
}

.tableHeadWhenSwitchedSHAWHIT {
  display: flex;
  align-items: center;
  justify-content: end;
}

.textAroundSwitcher {
  line-height: 2vh;
  font-size: var(--main-font-size);
}

.greenColor {
  color: rgba(42, 128, 44, 0.87);
}

.redColor {
  color: rgba(128, 15, 26, 0.87);
}

.blackColor {
  color: #000000;
}

.heightTableHead {
  min-height: 38px;
}

.selectedKPK {
  font-weight: bold;
}
