.kpkTable {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  width: 30vw;
  margin: 0 .5rem;

  .cell {
    border-bottom: none;
    font-size: 1.7vh;
    padding: .7vh;
    line-height: 2vh;
  }

  .tableContainer {
    box-shadow: none;
    box-sizing: content-box;
  }
}

.title {
  text-align: center;
  padding: .7vh;
  font-size: 3vh;
}
