.kpkTable {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 30vw;

  .cell {
    border-bottom: none;
    font-size: 1.7vh;
    padding: .7vh;
    line-height: 2vh;
  }

  .tableContainer {
    box-shadow: none;
    box-sizing: content-box;
  }

  h2 {
    text-align: center;
    padding: .7vh;
  }
}
