.table_right {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 25vw;
  //height: ;

  .cell {
    padding: 0 0;
    line-height: 9.2vh;
    font-size: 3vh;
    border-bottom: none;
    text-align: center;
  }

  .row {
    line-height: 1vh;
  }

  .table {
    th {
      line-height: 2rem;
    }


    margin: 0 .5rem;
  }

  .tableContainer {
    box-shadow: none;
    height: 100%;
  }

}
