.infTable {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  width: 25vw;
  margin: 0 .5rem;


  .cell {
    padding: 0 0;
    line-height: 10vh;
    font-size: 3vh;
    border-bottom: none;
    text-align: center;
  }

  .row {
    line-height: 1vh;
  }

  .table {
    th {
      line-height: 2rem;
    }
    //td {
    //  line-height: 2rem;
    //}
    //tr {
    //  line-height: 4rem;
    //}


    //margin: 0 .5rem;
  }

  .tableContainer {
    box-shadow: none;
    height: 100%;
  }

}
