.filters {
  justify-content: space-around;

  div {
    padding: 0;
  }
  align-items: center;
  margin: .5rem;
}

.btn {
  // стили с кнопки материал ui
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  padding: 6px 8px;
  border: 0;
  background-color: transparent;
}
