.filters {
  justify-content: space-between;
  margin: 1% 2%;
  width: 35%;

  @media (max-width: 2000px) {
    width: 45%;
  }
  @media (max-width: 1500px) {
    width: 50%;
  }
  @media (max-width: 1300px) {
    width: 65%;
  }

  * {
    padding: 0;
  }
}
